<template>

  <div class="hello">
    <Add @newTodo="newTodo" />
    <Pending :notFinished="notFinished"/>
    <List
      :todoList="todoList"
      @completionTodo="completionTodo"
      @deleteTodo="deleteTodo"
    />
  </div>
</template>

<script>
import Add from '@/components/todo/add';
import Pending from '@/components/todo/pending';
import List from '@/components/todo/list';
import Edit from '@/components/todo/edit';

export default {
  name: 'Todo',

  components: { Add, Pending, List, Edit },

  data() {
    return {
      todoList: [],
      notFinished: 0,
    };
  },

  methods: {
    //  ADD TODO INTO THE ARRAY
    newTodo(todo) {
      const newId = this.idChecker(this.todoList);
      this.todoList.push({
        id: newId,
        action: todo,
        completed: false,
      });
    },

    //  MY ID 'GIVER'
    idChecker(myArray) {
      const lastId = myArray.length ? myArray.at(-1).id : 0;
      const newId = lastId + 1;
      return newId;
    },

    // CHANGE COMPLETED HANDLER
    completionTodo(payload) {
      const tdl = [...this.todoList];
      this.todoList = [];
      const list = tdl.map(item => ({
        id: item.id,
        action: item.action,
        completed: item.id !== payload.id ? item.completed : payload.completed,
      }));
      this.todoList = [...list];
    },

    //  DELETE HANDLER
    deleteTodo(myId) {
      let list = this.todoList.slice();
      console.log(myId);
      list = list.filter(el => el.id !== myId);
      this.todoList = [...list];
    },
  },

  watch: {
    //  CHECK IF THE LIST CHANGE AND UPDATE THE NUMBER OF NOT FINISHED TO DO
    "todoList": function () {
      let compteur = 0;
      for (const item of this.todoList) {
        if (!item.completed) {
          compteur += 1;
        }
      }
      this.notFinished = compteur;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
