<template>
  <div class="myDiv">
    <div class="container">
      <input type="text" id="task" placeholder="Task to do" v-model="task" class="form-control">
      <button class="btn btn-primary" v-on:click="addTodo">Add a task</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Add',

  data() {
    return {
      task: '',
      msg: 'ADD component',
    };
  },

  methods: {
    //  ADD A NEW TODO
    addTodo() {
      const todo = this.task;
      if (!todo) {
        alert("Please specify the task");
      } else {
        this.$emit('newTodo', todo);
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.myDiv {
  padding-top: 10px;
  background-color: grey;
}
</style>
