<template>
  <div class="myDiv">
    <h1 v-if="todoList.length">Tasks list:</h1>
    <h1 v-else>There is no task</h1>
    <ul>
      <li v-for="todo in todoList" :key="todo.id">
        {{ todo.id + " - " + todo.action }}
        <button
          class="btn btn-success"
          data-toggle="modal"
          data-target="#myModal"
          v-on:click="editTodo"
        >
          Edit
        </button>
        <div class="modal fade" id="myModal" role="dialog"></div>
        <label class="switch">
          <input
            type="checkbox"
            :id="todo.id"
            :checked="todo.completed"
            v-on:change="completionTodo"
          />
          <span class="slider round"></span>
        </label>
        <button class="btn btn-danger" v-on:click="deleteTodo(todo)">Delete</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "List",

  props: ["todoList"],

  data() {
    return {
      msg: "LIST component",
    };
  },

  methods: {
    //  UPDATE OMPLETION OF THE TODO
    completionTodo(e) {
      const myId = parseInt(e.target.id);
      const todo = {
        id: myId,
        completed: e.target.checked,
      };
      this.$emit('completionTodo', todo);
    },

    //  DELETE TODO
    deleteTodo(todo) {
      if (confirm('Delete todo ?')) {
        this.$emit('deleteTodo', todo.id);
      }
    },

    editTodo() {
      alert("Désolé, je n'ai pas pu créer un modal bootstrap pour l'EDIT, il y avait toujours un bug lors de l'import des fichiers javascript de bootstrap :( ,je n'ai pas pu le résoudre même avec les forums des anciennes versions de vue js 2. \n Sinon les codes étaient déja tout prêts ");
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
}
.myDiv {
  background-color: rgba(128, 128, 128, 0.093);
}
</style>
