<template>
  <div class="myDiv">
    <h1>Non completed tasks: {{ notFinished }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Pending',

  props: ['notFinished'],

  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.myDiv {
  background-color: rgba(128, 128, 128, 0.33);
}
</style>
